In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('driverChamp.csv')
df

,Unnamed: 0,Year,Driver,1,2,3,4,5,6,7,...,13,14,15,16,17,18,19,20,21,Points
0,1,2019,L. HAMILTON,18,25,25,18,26,25,25,...,18,16,12,26,16,25,18,6,26,413.0
1,2,2019,V. BOTTAS,26,18,18,25,18,15,13,...,15,18,10,18,25,15,25,-,12,326.0
2,3,2019,M. VERSTAPPEN,15,12,12,12,15,12,10,...,-,4,15,12,-,8,15,25,18,278.0
3,4,2019,C. LECLERC,10,16,10,11,10,-,15,...,25,25,18,15,8,13,13,-,15,264.0
4,5,2019,S. VETTEL,12,10,15,15,12,18,18,...,13,-,25,-,18,18,-,-,10,240.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,20,1991,I. CAPELLI,-,-,-,-,-,-,-,...,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
653,21,1991,E. BERNARD,-,-,-,-,-,1,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,1.0
654,22,1991,A. SUZUKI,1,-,-,-,-,-,-,...,-,-,-,-,NaN,NaN,NaN,NaN,NaN,1.0
655,23,1991,J. BAILEY,-,-,1,-,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
656,24,1991,G. MORBIDELLI,-,-,-,-,-,-,-,...,-,-,-,0.5,NaN,NaN,NaN,NaN,NaN,0.5

In [5]:
df.columns

Index(['Unnamed: 0', 'Year', 'Driver', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', 'Points'],
      dtype='object')

In [6]:
df = df.rename(columns={'Unnamed: 0': 'Position'})

In [7]:
df = df.replace(to_replace='-', value='0')

In [8]:
dfn = df.convert_dtypes()

In [9]:
dfn

,Position,Year,Driver,1,2,3,4,5,6,7,...,13,14,15,16,17,18,19,20,21,Points
0,1,2019,L. HAMILTON,18,25,25,18,26,25,25,...,18,16,12,26,16,25,18,6,26,413.0
1,2,2019,V. BOTTAS,26,18,18,25,18,15,13,...,15,18,10,18,25,15,25,0,12,326.0
2,3,2019,M. VERSTAPPEN,15,12,12,12,15,12,10,...,0,4,15,12,0,8,15,25,18,278.0
3,4,2019,C. LECLERC,10,16,10,11,10,0,15,...,25,25,18,15,8,13,13,0,15,264.0
4,5,2019,S. VETTEL,12,10,15,15,12,18,18,...,13,0,25,0,18,18,0,0,10,240.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,20,1991,I. CAPELLI,0,0,0,0,0,0,0,...,0,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1.0
653,21,1991,E. BERNARD,0,0,0,0,0,1,0,...,0,0,0,0,<NA>,<NA>,<NA>,<NA>,<NA>,1.0
654,22,1991,A. SUZUKI,1,0,0,0,0,0,0,...,0,0,0,0,<NA>,<NA>,<NA>,<NA>,<NA>,1.0
655,23,1991,J. BAILEY,0,0,1,0,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1.0
656,24,1991,G. MORBIDELLI,0,0,0,0,0,0,0,...,0,0,0,0.5,<NA>,<NA>,<NA>,<NA>,<NA>,0.5

In [45]:
for i in dfn.columns[3:24]:
    dfn[i] = pd.to_numeric(dfn[i], errors='coerce', downcast='unsigned')

In [61]:
dfn

,Position,Year,Driver,1,2,3,4,5,6,7,...,13,14,15,16,17,18,19,20,21,Points
0,1,2019,L. HAMILTON,18.0,25.0,25.0,18.0,26.0,25.0,25.0,...,18.0,16.0,12.0,26.0,16.0,25.0,18.0,6.0,26.0,413.0
1,2,2019,V. BOTTAS,26.0,18.0,18.0,25.0,18.0,15.0,13.0,...,15.0,18.0,10.0,18.0,25.0,15.0,25.0,0.0,12.0,326.0
2,3,2019,M. VERSTAPPEN,15.0,12.0,12.0,12.0,15.0,12.0,10.0,...,0.0,4.0,15.0,12.0,0.0,8.0,15.0,25.0,18.0,278.0
3,4,2019,C. LECLERC,10.0,16.0,10.0,11.0,10.0,0.0,15.0,...,25.0,25.0,18.0,15.0,8.0,13.0,13.0,0.0,15.0,264.0
4,5,2019,S. VETTEL,12.0,10.0,15.0,15.0,12.0,18.0,18.0,...,13.0,0.0,25.0,0.0,18.0,18.0,0.0,0.0,10.0,240.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,20,1991,I. CAPELLI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
653,21,1991,E. BERNARD,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0
654,22,1991,A. SUZUKI,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0
655,23,1991,J. BAILEY,0.0,0.0,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
656,24,1991,G. MORBIDELLI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.5,NaN,NaN,NaN,NaN,NaN,0.5

In [64]:
dfn.iloc[::, 3:24] = dfn.iloc[::, 3:24].cumsum(axis=1, skipna=True)

In [65]:
dfn

,Position,Year,Driver,1,2,3,4,5,6,7,...,13,14,15,16,17,18,19,20,21,Points
0,1,2019,L. HAMILTON,18.0,43.0,68.0,86.0,112.0,137.0,162.0,...,268.0,284.0,296.0,322.0,338.0,363.0,381.0,387.0,413.0,413.0
1,2,2019,V. BOTTAS,26.0,44.0,62.0,87.0,105.0,120.0,133.0,...,203.0,221.0,231.0,249.0,274.0,289.0,314.0,314.0,326.0,326.0
2,3,2019,M. VERSTAPPEN,15.0,27.0,39.0,51.0,66.0,78.0,88.0,...,181.0,185.0,200.0,212.0,212.0,220.0,235.0,260.0,278.0,278.0
3,4,2019,C. LECLERC,10.0,26.0,36.0,47.0,57.0,57.0,72.0,...,157.0,182.0,200.0,215.0,223.0,236.0,249.0,249.0,264.0,264.0
4,5,2019,S. VETTEL,12.0,22.0,37.0,52.0,64.0,82.0,100.0,...,169.0,169.0,194.0,194.0,212.0,230.0,230.0,230.0,240.0,240.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,20,1991,I. CAPELLI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
653,21,1991,E. BERNARD,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0
654,22,1991,A. SUZUKI,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0
655,23,1991,J. BAILEY,0.0,0.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
656,24,1991,G. MORBIDELLI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.5,NaN,NaN,NaN,NaN,NaN,0.5

In [66]:
dfn.to_csv('Databases/driverChampCum.csv')

In [36]:
dfn.dtypes

Position      Int64
Year          Int64
Driver       string
1           float64
2           float64
3           float64
4           float64
5           float64
6           float64
7           float64
8           float64
9           float64
10          float64
11          float64
12          float64
13          float64
14          float64
15          float64
16          float64
17          float64
18          float64
19          float64
20          float64
21          float64
Points      float64
dtype: object